<!DOCTYPE html>
{% include 'partials/header.html' %}
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h1>{{location.title}}</h1>
    <p>{{location.description}}</p>
    <h2>Rating:</h2><p>{{location.rating}}</p>
    <h1>Location:<h1>
    <div id="map"></div>
    <script>
      function initMap() {
        var marker = {lat: {{location.latitude}}, lng: {{location.longitude}} };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: marker
        });
        var marker = new google.maps.Marker({
          position: marker,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMMGCCOG2uagpomuWo1I4va9qa9dIHtWU&callback=initMap">
    </script>

    <a href="/sherpa/{{category}}_list/"><input class="btn btn-lg btn-primary" type="back" value="Back to {{category|title}} results" /></a>

    <br>
    <p>Created on {{location.created_at}}</p>
{% include 'partials/footer.html' %}

