{% include 'partials/header.html' %}

{% block content %}

  {% if form.errors %}
   <p class="error">Sorry, that's not a valid username or password</p>
  {% endif %}

  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="log-in panel">
          <div class="panel-heading">
            <h1 class="text-center">Sign Up</h1>
              <div class="panel-body">
                <div class="form-group">
                  <form action="/sherpa/register/" method="post">
                    <label for="first_name"> First Name:</label><br>
                    <input class="input-lg form-control" type="text" name="first_name" value="test" id="first_name">
                    <br>
                    <label for="last_name"> Last Name:</label><br>
                    <input class="input-lg form-control" type="text" name="last_name" value="test" id="last_name">
                    <br>
                    <label for="email"> Email:</label><br>
                    <input class="input-lg form-control" type="text" name="email" value="test" id="email">
                    <br>
                    <label for="phoneNumber"> Phone:</label><br>
                    <input class="input-lg form-control" type="text" name="phoneNumber" value="0401" id="phoneNumber">
                    <br>

                    <label for="userType">User Type:</label><br>
                      <select name="userType" value="tourist" id="userType">
                        <option value="tourist">Tourist</option>
                        <option value="student">Student</option>
                        <option value="businessman">Businessman</option>
                      </select>
                    <br><br>
                    
                    {% if user.is_superuser %}
                      <label for="admin">Admin:</label><br>
                      <input type="radio" name="admin" value="1"> Yes
                      <input type="radio" name="admin" value="0" checked> No 
                      <br><br>
                    {% endif %}

                    <label for="username"> Username:</label><br>
                    <input class="input-lg form-control" type="text" name="username" value="test" id="username">
                    <br>
                    <label for="password"> Password:</label><br>
                    <input class="input-lg form-control" type="text" name="password" value="test" id="password">
                    <label for="password"> Password Confirmation:</label><br>
                    <input class="input-lg form-control" type="text" name="password" value="test" id="password">
                    <br>
                    <input class="btn btn-lg btn-primary" type="submit" value="Sign Up"/>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

{% include 'partials/footer.html' %}
