{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Sherpa_Header</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>

  <body>
    <nav>
      <div class="navbar-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="navbar-brand">
            <li class="nav"><a href="/sherpa"><img src="https://i.imgur.com/O4j8s2P.png" style="width:56px;height:56px;"/></a></li>
          </div>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
          <!--  if user_signed_in? -->

            <li><a href="/sherpa/add">[ADMIN] Add Locations</a></li>
            <li><a href="/sherpa/location_list">Search Locations</a></li>
            <!-- user profile link -->
            <!-- Logout link -->
          <!-- else -->
            <li><a href="/sherpa/login">Login</a></li>
            <li><a href="/sherpa/register">Sign Up</a></li>
          <!-- end -->
          </ul>
        </div>
      </div>
      <br>
    </nav>
  </div>
  <br>
  <br>
  <br>
