
/* map styling */

.setloc-map {
    max-width: 100%;
    height: 400px;
    margin-top: 1em;
    border: 1px solid #eee;
}


/* navbar styling */

.navbar-nav li a {
  color: #FFFF;
}

.navbar-container {
  width: 70%;
  margin: 0 auto;
}

.navbar-nav > li {
  font-size: 16px;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #eeefef;
}

footer a {
  color: #555;
  &:hover {
    color: #222;
  }
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
  li {
    float: left;
    margin-left: 15px;
  }
}

.panel {
  border-radius: 8px;
  background-color: #F8F8F8;
}

.panel-heading {
  h1 {
    text-align: center;
  }
}
